
.index-template .site-header-desktop-primary{
    background-color: #b01e22
}
.index-template .site-header-mobi{
    background-color: #b01e22
}
@media (max-width: 991px){

    .index-template .site-header-mobi-panel{
        background-color: #b01e22
    }
    .hero-burger{
        width: 90% !important;
    }
}
.social-hero p a .fa{
    color: #b01e22;
    background-color: #c8c3ae;
}
.shop-fed-pig .btn{
    color: #b01e22;
}
.index-template .hero:before{
   content: none;
}
.mobi-footer__item .btn{
    background-color: #b01e22
}
.index-template .site-logo{
    filter: none;
}
.shop-fed-pig .btn{
    -webkit-text-stroke-color: #c8c3ae;
}
.index-template .site-header-desktop-primary .site-nav-link{
    color: #c8c3ae;
}
.shop-fed-pig .btn:hover{
    color: #c8c3ae;
    -webkit-text-stroke-color: #00000000;
}
.index-template .site-nav-menu a:not(.btn):hover, .index-template .site-nav-menu button:not(.btn):hover, .index-template .site-nav-submenu>span:hover, .index-template .site-nav-submenu>a:hover{
    color: #b01e22;
}

.hero-burger{
    width: 40%;
    border-radius: 70px;
    box-shadow:  0px 20px 60px 20px #961a1d, 20px 16px 60px #ca2327;
}

.social-hero .fa-whatsapp:before {
    margin-left:24%;
}
#mapa{
    width: 100%;
    padding-top: 7.5rem;
    height: 100vh;
}
@media (max-width: 1550px){
    #mapa{
        padding-top: 10rem;
    }
}
@media (max-width: 991px){
    .index-template .nav-toggle-btn__line, .index-template .nav-toggle-btn:hover .nav-toggle-btn__line {
    background-color: #c8c3ae;
}
.mobi-footer__item .btn:hover, .mobi-footer__item .btn:active, .mobi-footer__item .btn:focus{
   background-color: #b01e22;     
}
#mapa{
    height: 80rem;
    padding-top: 2rem;
}
}
@media (max-width: 667px) {
    #mapa{
        height: 70rem;
        padding-top: 1rem;
    }
  }
